@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Karla', sans-serif;
}

:root {
    --bgcolor: #1C1C1C;
    --accentcolor: #FFCC00; 

}

body{
    background-color: var(--bgcolor);
    
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.link-tree{
    display: flex;   
    flex-direction: column;
    align-items: center;
    
    width: 90vw ;
    margin: 40px auto;
    gap: 20px;
}

.link-tree img {
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.link-tree h1 {
    font-size: 2.5rem;
    padding-top: 15px;
    padding-bottom : 25px;
    opacity: 0;

    animation: fadeInAnimation ease 2.5s;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



.link-tree a{
    background-color: var(--accentcolor);
    color: var(--bgcolor);
    width: 100%;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    border: solid 2px var(--accentcolor);
    opacity: 0;
    
    animation: fadeInAnimation ease 5.5s;
    animation-delay: 0.9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

.link-tree a:hover{
    background-color: var(--bgcolor);
    color: var(--accentcolor);
}

@media (min-width: 1024px){
    .link-tree {
        width: 40vw;
    }
}